
.animated {
  opacity: 0;

  &.animate {
    animation: slide-down 300ms linear 0s 1 forwards;
  }

  @media only screen and (min-width: $media-md) {
    &.animate {
      animation: slide-left 300ms linear 0s 1 forwards;
    }
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
