// Content Preview
.content-preview {
  border-radius: $border-radius;
  background-color: $light;
  margin-bottom: 3rem;

  &-img {
    margin: 0 auto 1rem auto;
    clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0% 0%);

    &.animate {
      animation: slide-down 300ms linear 0s 1 forwards;
    }
  }

  &-body {
    padding: 0 2rem 2rem 2rem;
    text-align: center;
  }

  &-title {
    margin: 0 0 1.5rem 0;
  }

  &-text {
    margin: 0 0 1.75rem 0;
  }

  &-button {
    @extend .button, .button-primary;
    display: block;
    text-align: center;
  }

  @media only screen and (min-width: $media-md) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-img {
      clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 99%, 0 0);
      width: 50%;
      margin-right: $gutters * .5;
      margin-bottom: 0;

      &.animate {
        animation: slide-left 300ms linear 0s 1 forwards;
      }
    }

    &-body {
      padding: 2rem 2rem 2rem 0;
      width: 50%;
      margin-left: $gutters * .5;
      text-align: left;
    }

    &-button {
      display: inline-block;
    }

    &:nth-child(even) {

      .content-preview-img {
        order: 1;
        margin-right: 0;
        margin-left: $gutters * .5;
        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 25% 50%, 0% 0%);

        &.animate {
          animation: slide-right 300ms linear 0s 1 forwards;
        }
      }

      .content-preview-body {
        padding: 2rem 0 2rem 2rem;
        order: 0;
        margin-left: 0;
        margin-right: $gutters * .5;
        text-align: right;
      }
    }
  }
}

// Recipe Archive
#recipe-archive {
  display: flex;
  flex-flow: row wrap;

  @media only screen and (min-width: $media-md) {
    margin: -$gutters/2;
  }
}

// Recipe Preview
.recipe-preview {
  background-color: $light;
  margin-bottom: $wrapper;
  border-radius: $border-radius;
  height: 100%;

  &-img {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;

    &.animate {
      animation: slide-down 300ms linear 0s 1 forwards;
    }
  }

  &-content {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    font-size: $font-size-small;
  }

  &-title {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }

  &-button {
    @extend .button, .button-primary, .button-block;
  }

  @media only screen and (min-width: $media-md) {
    margin: $gutters/2;
    //flex-grow: 1;
    width: calc(50% - #{$gutters});
  }

  @media only screen and (min-width: $media-xl) {
    width: calc(33% - #{$gutters});
  }
}

// Page Header
.page-header {
  padding: $wrapper 0;
  background-color: $light;
  text-align: center;

  .page-title {
    margin: 0;
  }
}

// Recipe
.recipe {
  padding: 1.5rem;
  background-color: $light;
  margin: 0 auto;

  &-thumbnail {
    display: block;
    margin-bottom: 2.5rem;
  }

  .gallery {
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;

    &-item {
      position: relative;
      line-height: 0;
      margin-bottom: 6px;
      width: calc(50% - 3px);

      &:not(:nth-child(even)) {
        margin-right: 6px;
      }

      &-overlay {
        opacity: 0;
        background: rgba($primary, .8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 50px;
        transition: $transition;
      }

      &:hover {

        .gallery-item-overlay {
          opacity: 1;
        }
      }
    }
  }

  &-header {
    margin-bottom: 2rem;

    &-left {

      h1 {
        font-size: 3rem;
      }
    }

    &-right {
      margin-bottom: 1.5rem;
    }
  }

  &-section-title {
    font-size: 1.5rem;
    margin-top: 2.5rem;
  }

  @media only screen and (min-width: $media-md) {
    padding: 2.5rem;

    &-header {

      .recipe-section-title {
        margin-top: 0;
      }

      &-flex {
        display: flex;
        flex-direction: row;
      }

      &-left {
        order: 0;
        margin-right: $gutters/2;
        width: calc(60% - #{$gutters/2});
      }

      &-right {
        order: 1;
        margin-bottom: 0;
        margin-left: $gutters/2;
        margin-top: 0;
        width: calc(40% - #{$gutters/2});
      }
    }
  }
}


// Icons
.icons {
  padding: 3rem 2rem;
  background: $light;
  margin: $paragraph-margin-bottom*2 0;
  clear: both;

  &-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  h2 {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .icon {
    width: 170px;
    cursor: pointer;
    margin: 1rem;
    text-align: center;

    svg {
      width: 90px;
      height: auto;
    }

    path {
      fill: $gray;
      stroke-width: 0;
      stroke: $gray;
      stroke-dashoffset: 0;
      transition: all 400ms ease-in-out;
    }

    h4 {
      color: $gray;
      margin: 1.5rem 0 0 0;
      transition: all 400ms ease-in-out;
    }

    &:hover {

      svg {
        animation: icon-animation 400ms ease-in-out 0s forwards;

        path {
          fill: $primary;
        }
      }

      h4 {
        color: $primary;
      }
    }
  }
}
@keyframes icon-animation {

  100% {
    transform: rotate(360deg) scale(1.5);
  }
}
